@import "compass/css3";
@import "compass/css3/transition";
@mixin debug($color){
 border:3px dotted $color;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
html,body{
  overflow-x:hidden;
  height:100%;
  background-color:#80B5E3;
} 
.stage{
  .card{
    
  }
  .removeStage{
    float:right;
  }
  .svgList{
    @include box-shadow(0px 0px 7px #000,0px 0px 13px #fff);
    height:4em;
    overflow:auto;
  }
}
#selectedStage{
  .alert.button{
    float:right;
    @extend .round;

  }
  ul{

  }
  pre{
    padding-bottom:2em;
  }
}
#stages{
  display:block;
  height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  
}
svg{
  box-shadow:0px 0px 3px #000;
}
#tools{
  ul{
    list-style: none ;
  }
  
}
#addElement{
  .preview{
    @include box-shadow();

  }
}
.animate-enter {
	@include transition( 300ms linear all);
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;

}