
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>SVG Patterns</title>
  <link rel="stylesheet" href="stylesheets/app.css" />

  <script src="javascripts/vendor/custom.modernizr.js"></script>

</head>
<body ng-app="SVGPatterns" ng-controller="AppController">
  <div id="addLineModal" class="reveal-modal">
    <h2>Add A Line.</h2>
    <div class="button success">Ok</div>
    <a class="close-reveal-modal">&times;</a>
  </div>
	<div class="row">
		<div class="large-12 columns">
			<h2>SVG Patterns</h2>
			<p>This is version .3</p>
			<hr />
		</div>
	</div>
	<div id="selectedStage" class="row" ng-cloak ng-show="showSelectedStage">
		<div id="svgTools" class="panel large-3 columns">
			<h4>SVG Tools</h4>
      <ul>
  			<li ng-repeat="tool in SVGTools"  ng-animate=" 'animate' ">
          <a href="#" ng-click="{{tool.function}}()"><span class="button secondary ngCloak" ng-bind="tool.name" ></span></a>
        </li>
      </ul>
		</div>
    
		<div class="large-9 columns" >
			<h2 ng-bind="selected.stage.index+1+':'+selected.stage.name.text"></h2>
      <input type="text" ng-model="selected.stage.name.text">
      <div style="color: {{colors[ mod(selected.stage.index,colors.length) ]}}; background-color: {{backgroundColors[mod(selected.stage.index,backgroundColors.length)]}}; {{selected.stage.css}}">
        <div class="section-container auto" data-section="auto" >
          <section ng-repeat="svg in selected.stage.svgs"  ng-animate=" 'animate' "  on-finish-render>
            <p data-section-title class="title"><a href="#page{{$index}}" ng-click="selectSvg($index)" ng-bind="svg.name.text"></a></p>
            <div class="content" data-section-content>
              <div class="alert button" ng-click="removeSvg($index)">-</div>
              <form ng-change="makeSvg(svg)" ng-model="svg">

                <input type="text" ng-model="svg.name.text"></input>
                <ul class="inline-list">
                  <li>
                    <label for="svgWidth">Width</label><input ng-model="svg.width" id="svgWidth" type="text">
                  </li>
                  <li><label for="svgHeight">Height</label><input ng-model="svg.height" id="svgHeight" type="text">
                  </li>
                  <li><label for="svgViewBox">ViewBox</label><input ng-model="svg.viewBox" id="svgViewBox" type="text">
                  </li>
                </ul>
                <label for="svgContent">SVG</label><textarea ng-model="svg.content" id="svgContent" type="text"></textarea>
              </form>
              <pre ng-bind="svg.content"></pre>
              <div ng-bind-html-unsafe="makeSvg(svg)"></div>
            </div>
          </section>
        </div>

      </div>
		</div>
	</div>
  <div class="row">
    <div class="panel large-12 columns">
      <hr/>
      
    </div>
  </div>
  <div class="row">
    <div id="tools" class="panel large-2 columns" ng-cloak>
      <ul >
  			<li ng-repeat="tool in tools"  ng-animate=" 'animate' ">
          <a href="#" ng-click="{{tool.function}}()"><span class="button secondary ngCloak"  ng-bind="tool.name"></span></a>
        </li>
      </ul>
		</div>
		<div id="stages" class="large-10 columns" ng-model="stages" ng-cloak >
      <h4>Stages</h4>
      
    	<div class="row">
    		<div class="large-12 columns">
          <ul class="small-block-grid-2" ng-cloak ng-show="showStages">
            <li ng-repeat="stage in stages track by $index" ng-cloak  ng-animate=" 'animate' ">
              <div  ng-click="selectStage($index)" id="stage{{$index}}" style="background-color: {{backgroundColors[mod($index,backgroundColors.length)]}}; {{stage.css}}" class=" button stage">
                <p style="color: {{colors[ mod($index,colors.length) ]}}; {{stage.name.css}}" ng-bind="($index+1)+': '+ stage.name.text"></p>
                <section ng-repeat="svg in stage.svgs" style="{{stage.name.css}}" ng-bind="                   (svg.name.text||$index+1)+': '+svg.width+'x'+svg.height" ng-animate=" 'animate' ">

                </section>
              </div>  
              <p><span  style="color: {{colors[ mod($index,colors.length) ]}};{{stage.name.css}}" ng-bind="colors[ mod($index,colors.length)]"></span>/<span style="color: {{backgroundColors[ mod($index,backgroundColors.length) ]}};stage.name.css" ng-bind="backgroundColors[mod($index,backgroundColors.length)]"></span>        
            </li>
          </ul>
        </div>
      </div>
      <span ng-bind="stages.length"></span>
    </div>

	</div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="javascripts/foundation/foundation.js"></script>
  <script src="javascripts/foundation/foundation.alerts.js"></script>
  <script src="javascripts/foundation/foundation.clearing.js"></script>
  <script src="javascripts/foundation/foundation.cookie.js"></script>
  <script src="javascripts/foundation/foundation.dropdown.js"></script>
  <script src="javascripts/foundation/foundation.forms.js"></script>
  <script src="javascripts/foundation/foundation.joyride.js"></script>
  <script src="javascripts/foundation/foundation.magellan.js"></script>
  <script src="javascripts/foundation/foundation.orbit.js"></script>
  <script src="javascripts/foundation/foundation.placeholder.js"></script>
  <script src="javascripts/foundation/foundation.reveal.js"></script>
  <script src="javascripts/foundation/foundation.section.js"></script>
  <script src="javascripts/foundation/foundation.tooltips.js"></script>
  <script src="javascripts/foundation/foundation.topbar.js"></script>
  <script src="javascripts/vendor/angular.js" type="text/javascript" charset="utf-8"></script>
  <script src="javascripts/vendor/angular-sanitize.js"></script>
  <script src="javascripts/svgPatterns.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
